@media only screen and (max-width: 768px) {

    .carddio-button-blue {
        font-size: 11px;
        width: 50%;
        padding: 15px;
        margin: 10px auto;
    }

    .carddio-form input, .carddio-form textarea {
        width: 90%;
    }

    .carddio-form input[class=carddio-input-half] {
        width: 90%;
        float: none;
        margin-right: 0 !important;
    }

    .header-menu {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1200;
        background-color: #ed424f;
        height: 100vh;
    }

    .header-menu ul {
        padding: 0;
        margin-top: 20px;
    }

    .header-menu li {
        border: none;
        display: block;
        padding: 0;
        margin: 0;
        line-height: 45px;
        color: white;
        font-weight: 600;
    }

    .header-sub-menu {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 30px;
    }

    .header-sub-menu p {
        background-color: transparent;
        font-size: 13px;
        color: white;
        line-height: 16px;
        margin-bottom: 10px;
        padding: 0 10px;
        font-weight: 200;
    }

    .header-menu-toggle {
        display: block;
    }

    .header-menu-close {
        display: block;
    }

    .header-logo, .header-phone {
        width: 50% !important;
        height: 80px !important;
        text-align: center;
    }

    .header-logo img {
        max-height: 100%;
    }

    .header-phone {
        line-height: 7.7em !important;
    }

    .header-phone p {
        margin: 0 0 0 0 !important;
        float: none;
        font-weight: 600;
        font-size: 14px;
        vertical-align: bottom;
    }

    .header-phone i {
        display: none;
    }

    .home-slider {
        height: 32vh;
    }

    .home-slider img {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    .slide-buttons {
        width: 100%;
        z-index: 100;
        margin: 5% 0;
    }

    .slide-buttons p {
        width: 50%;
        height: inherit;
        line-height: inherit;
    }

    .carddio-links {
        padding: 30px 0;
    }

    .carddio-link {
        width: 70%;
        margin: 0 auto 30px;
        float: none;
        min-height: 250px;
    }

    .carddio-link:last-child {
        margin: 0 auto;
    }

    .carddio-link h3{
        text-align: center;
        font-size: 15px;
        margin: 10px auto;
    }

    .carddio-link p {
        text-align: center;
        font-size: 12px;
        margin: 10px auto;
        width: 80%;
    }

    .depoimentos-wrapper {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .carddio-depoimento {
        width: 100%;
        margin: 0 auto 45px;
    }

    .carddio-depoimento:last-child {
        margin: auto;
    }

    .depoimento-quote {
        float: none;
        margin: 0 0 10px;
    }

    .depoimento-text {
        width: 90%;
        margin: auto;
        float: none;
    }

    .depoimento-divisor {
        margin: 10px auto;
    }

    .carddio-exames {
        width: 90%;
        padding: 8px;
        margin: 0 auto 20px;
    }

    .carddio-exame-button {
        width: 100%;
    }

    .carddio-exame-button p {
        padding: 25px;
        font-size: 21px;
    }

    .carddio-exame-button span {
        display: none;
    }

    .carddio-equipe {
        padding-bottom: 20px;
    }

    .carddio-equipe-items {
        width: 100%;
    }

    .equipe-item {
        width: 100%;
        margin: 0 auto 40px;
        min-height: 0;
    }

    .equipe-item p {
        width: 90%;
        margin: 0 auto 10px;
    }

    .equipe-arrow-left {
        left: 20px;
        font-size: 35px;
    }

    .equipe-arrow-right {
        right: 20px;
        font-size: 35px;
    }

    .carddio-pre-agendamento {
        padding: 21px 0;
    }

    .pre-agendamento-text {
        width: 90%;
        text-align: center;
        float: none;
        margin: 0 auto 30px;
    }

    .pre-agendamento-form {
        width: 100%;
        text-align: center;
        float: none;
    }

    .carddio-fale-com a {
        width: inherit;
        margin: inherit;
    }

    .carddio-fale-com-buttons{
        margin-bottom: 45px;
    }

    .carddio-fale-com-buttons p {
        width: inherit;
        float: inherit;
        margin-right: inherit;
    }

    .carddio-ligacao form {
        width: 90%;
    }

    .carddio-footer-info {
        width: 90%;
    }

    .carddio-footer-text, .carddio-footer-menu {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .carddio-footer-menu ul {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        padding: 0;
    }

    .page-content h3, h4 {
        margin: 30px 0;
        text-align: center;
    }

    .page-image, .page-text {
        width: 90%;
        float: none;
        margin: auto;
        padding-right: 0;
    }

    .page-text p {
        text-align: center;
        margin: 35px auto -35px;
    }

    .convenios-image, .convenios-text {
        width: 90%;
        float: none;
        margin: auto;
        padding-right: 0;
    }

    .convenios-text p {
        text-align: center;
    }

    .convenios-text ul {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .carddio-exame-page-button {
        width: 90%;
        padding: 20px;
        margin: auto;
        float: none;
    }

    .exame-page-close-button {
        text-align: center;
    }

    .exame-page-close {
        float: none;
    }

    .exame-page-close-button p {
        float: none;
    }

    .carddio-contato-item {
        float: none;
        width: 90%;
        padding: 0;
        margin: 0 auto 50px;
    }

    .carddio-paciente-content {
        width: 90%;
        margin: auto;
        float: none;
        text-align: center;
    }

    .carddio-paciente-content p {
        margin-bottom: 50px;
    }

    .carddio-paciente-menu {
        width: 90%;
        margin: auto;
        float: none;
        text-align: center;
    }

    .carddio-paciente-content iframe {
        width: 90%;
        margin: auto;
        height: auto;
    }

    .carddio-paciente-menu h5 {
        margin: 0 0 20px 0;
    }

    .carddio-paciente-menu ul {
        margin: auto;
        float: none;
    }

    .contato-enviado {
        margin: 20px auto 0;
    }

}

@media only screen and (max-width: 900px) {	
	

    .carddio-depoimentos img {
        display: none;
    }
	
}